{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} Main admin page{% endblock %}

{% block sidebar %}
    {#{{ include('@manager/sidebar.html.twig') }}#}
    {{ knp_menu_render('akerbelManagerBundle:Builder:managerSidebarMenu') }}
{% endblock %}

{% block body -%}
    <h1>Main page</h1>
    akerbelManagerBundle::navbar.html.twig
{% endblock %}
