{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} Edit album{% endblock %}

{% block sidebar %}
    {{ include('@manager/sidebar.html.twig') }}
{% endblock %}

{% block body -%}

    {{ form(form) }}
    
    <ul>
        <li><a href="{{ path('album') }}">Album Manager</a></li>
    </ul>
{% endblock %}