{% extends '::base.html.twig' %}

{% block title %}{{ parent() }}New album{% endblock %}

{% block sidebar %}
    {{ knp_menu_render('akerbelManagerBundle:Builder:managerSidebarMenu') }}
{% endblock %}

{% block body -%}
    <h1>New page</h1>

    {{ form(form, {attr: {novalidate: 'novalidate' }}) }}
    
    <ul>
        <li><a href="{{ path('album') }}">Album Manager</a></li>
    </ul>
{% endblock %}